<!doctype html>
<html ng-app="monApp">
	<head>
		<title>Ma page Angular</title>
		<meta charset="utf-8">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
		<script src="monScript.js"></script>
	</head>
	<body ng-controller="monController">
		<h3>Bienvenue !</h3>
		<div id="main" align="center">
				<form ng-submit="post()">
					Nom:<br>
					<input required type="text" ng-model="nom"><br>
					Prénom:<br>
					<input required type="text" ng-model="prenom"><br><br>
					<textarea required maxlength="200" rows="4" placeholder="Présentez-vous" ng-model="text"></textarea><br><br>
					<input type="submit" value="Valider">
				</form>
		</div>
		<h3>Liste users</h3>
		<div id="ListUser" ng-repeat="user in users | orderBy:'-'">
			<ul><li>{{user.prenom}} {{user.nom}}  {{user.text}}</li></ul>
		</div>
	</body>

</html>